
#####
# INCLUDE IDEX MACRO FILES
#####
[include RatOS/macros/idex/*.cfg]

#---------------------------------------------- DUAL_CARRIAGE -----------------------------------------------
# The X axis motor for the right toolhead, located at the rear right of the printer
#------------------------------------------------------------------------------------------------------------
[dual_carriage]
dir_pin: dual_carriage_dir_pin     # Add ! in front of pin name to reverse the direction of dual_carriage
rotation_distance: 40              # 40 for 20 tooth 2GT pulleys, 32 for 16 tooth 2GT pulleys
position_min: 0
position_max: 355.1
position_endstop: 355.1
safe_distance: 50

#------------------------------------------------ EXTRUDER1 -------------------------------------------------
# The extruder motor used for pushing filament through the right toolhead (T1)
#------------------------------------------------------------------------------------------------------------
[extruder1]
dir_pin: !e1_dir_pin   # Remove ! in front of pin name to reverse the direction of extruder1
rotation_distance: 4.263          # Phaetus Apus default
pressure_advance: 0.03            # Check https://www.klipper3d.org/Pressure_Advance.html for pressure advance tuning.


#---------------------------------------------- DUAL_CARRIAGE -----------------------------------------------
# The X axis motor for the right toolhead, located at the rear right of the printer
#------------------------------------------------------------------------------------------------------------
[dual_carriage]
dir_pin: dual_carriage_dir_pin     # Add ! in front of pin name to reverse the direction of dual_carriage
rotation_distance: 40              # 40 for 20 tooth 2GT pulleys, 32 for 16 tooth 2GT pulleys
position_min: 0
position_max: 355.1
position_endstop: 355.1
safe_distance: 50

#------------------------------------------------ EXTRUDER1 -------------------------------------------------
# The extruder motor used for pushing filament through the right toolhead (T1)
#------------------------------------------------------------------------------------------------------------
[extruder1]
dir_pin: !e1_dir_pin   # Remove ! in front of pin name to reverse the direction of extruder1
rotation_distance: 4.263          # Phaetus Apus default
pressure_advance: 0.03            # Check https://www.klipper3d.org/Pressure_Advance.html for pressure advance tuning.
#control: pid
#pid_kp: 28.413
#pid_ki: 1.334
#pid_kd: 151.300


[dual_carriage]
position_max: 355.100
position_endstop: 355.100

[gcode_macro RatOS]
variable_bed_margin_x: [50.000, 50.100]

[gcode_macro T0]
variable_has_oozeguard: True

[gcode_macro T1]
variable_has_oozeguard: True

[gcode_macro _VAOC]
variable_expected_camera_x_position: 204.404
variable_expected_camera_y_position: 327.632

[gcode_macro T0]
variable_parking_position: -49.000

[gcode_macro T1]
variable_parking_position: 351.366


# BLTouch configuration
#[bltouch]
#control_pin: bltouch_control_pin
#sensor_pin: ^bltouch_sensor_pin
#x_offset: -21
#y_offset: -21
#z_offset: 3.425 # Will be commented out after a successful PROBE_CALIBRATE and SAVE_CONFIG

######### MY ADDITIONS ###########

[include RatOS/z-probe/beacon.cfg]

[dual_carriage]
endstop_pin: PG11 # Was PG15 but needed it for filament sensor

[filament_switch_sensor toolhead_filament_sensor_t0]
pause_on_runout: False
event_delay: 0.1
switch_pin: ^PG12
runout_gcode:
  M117 Filament runout on T0
#  SET_FILAMENT_SENSOR SENSOR=toolhead_filament_clog_t0 ENABLE=0
  _ON_TOOLHEAD_FILAMENT_SENSOR_RUNOUT TOOLHEAD=0
insert_gcode:
  M117 Filament inserted on T0 (switch)
  _ON_TOOLHEAD_FILAMENT_SENSOR_INSERT TOOLHEAD=0
#  SET_FILAMENT_SENSOR SENSOR=toolhead_filament_clog_t0 ENABLE=1

[filament_switch_sensor toolhead_filament_sensor_t1]
pause_on_runout: False
event_delay: 0.1
switch_pin: ^PG14
runout_gcode:
  M117 Filament runout on T1
#  SET_FILAMENT_SENSOR SENSOR=toolhead_filament_clog_t1 ENABLE=0
  _ON_TOOLHEAD_FILAMENT_SENSOR_RUNOUT TOOLHEAD=1
insert_gcode:
  M117 Filament inserted on T1 (switch)
  _ON_TOOLHEAD_FILAMENT_SENSOR_INSERT TOOLHEAD=1
#  SET_FILAMENT_SENSOR SENSOR=toolhead_filament_clog_t1 ENABLE=1


[filament_motion_sensor toolhead_filament_clog_t0]
switch_pin: !PG13
detection_length: 6
extruder: extruder   # extruder for T0, extruder1 for T1
pause_on_runout: False
event_delay: 3.0
pause_delay: 0.5
runout_gcode:
  M117 Filament clog detected on T0
  _ON_TOOLHEAD_FILAMENT_SENSOR_CLOG TOOLHEAD=0
insert_gcode:

[filament_motion_sensor toolhead_filament_clog_t1]
switch_pin: !PG15
detection_length: 6
extruder: extruder1   # extruder for T0, extruder1 for T1
pause_on_runout: False
event_delay: 3.0
pause_delay: 0.5
runout_gcode:
  M117 Filament clog detected on T1
  _ON_TOOLHEAD_FILAMENT_SENSOR_CLOG TOOLHEAD=1
insert_gcode:

[gcode_macro T0]
variable_enable_insert_detection: True     # enables the insert detection
variable_enable_runout_detection: True     # enables the runout detection
variable_enable_clog_detection: True       # enables the clog detection
variable_unload_after_runout: False         # unload filament after runout has been detected
variable_resume_after_insert: True         # resumes the print after inserting new filament
variable_purge_after_load: 30      # purge x mm after the filament has been loaded to the nozzle tip
variable_purge_before_unload: 0    # purge x mm before the filament unloads
variable_filament_load_speed: 10   # filament nozzle loading speed
variable_extruder_load_speed: 60   # extruder/cooling zone loading speed
variable_retract: 1.5   # retract on pause print
variable_extrude: 1.5   # extrude before resume print
variable_cooling_position_to_nozzle_distance: 30            # distance between the cooling position and the nozzle
variable_tooolhead_sensor_to_extruder_gear_distance: 560     # distance between the filament sensor trigger point
                                                            # and where the filament hits the extruder gears
variable_extruder_gear_to_cooling_position_distance: 50     # distance between the extruder gears and the center of the heatsink cooling tube

[gcode_macro T1]
variable_enable_insert_detection: True     # enables the insert detection
variable_enable_runout_detection: True     # enables the runout detection
variable_enable_clog_detection: True       # enables the clog detection
variable_unload_after_runout: False         # unload filament after runout has been detected
variable_resume_after_insert: True         # resumes the print after inserting new filament
variable_purge_after_load: 30      # purge x mm after the filament has been loaded to the nozzle tip
variable_purge_before_unload: 0    # purge x mm before the filament unloads
variable_filament_load_speed: 10   # filament nozzle loading speed
variable_extruder_load_speed: 60   # extruder/cooling zone loading speed
variable_retract: 1.5   # retract on pause print
variable_extrude: 1.5   # extrude before resume print
variable_cooling_position_to_nozzle_distance: 30            # distance between the cooling position and the nozzle
variable_tooolhead_sensor_to_extruder_gear_distance: 560     # distance between the filament sensor trigger point
                                                            # and where the filament hits the extruder gears
variable_extruder_gear_to_cooling_position_distance: 50     # distance between the extruder gears and the center of the heatsink cooling tube



#[adxl345 controlboard]

[adxl345 rpi]
cs_pin: rpi:None
spi_bus: spidev0.1

[stepper_z1]
dir_pin: z1_dir_pin        # Add ! in front of pin name to reverse the direction of stepper_z1

[stepper_x]
dir_pin: x_dir_pin         # Add ! in front of pin name to reverse the direction of stepper_x

[gcode_macro RatOS]
variable_bed_margin_x: [55, 55]
variable_bed_margin_y: [0, 37]

[resonance_tester]
accel_chip_x: beacon
accel_chip_y: adxl345 rpi
probe_points:
	150,150,20

[filament_switch_sensor toolhead_filament_sensor_t0]
pause_on_runout: False
event_delay: 0.1
switch_pin: ^PG12
runout_gcode:
  M117 Filament runout on T0
#  SET_FILAMENT_SENSOR SENSOR=toolhead_filament_clog_t0 ENABLE=0
  _ON_TOOLHEAD_FILAMENT_SENSOR_RUNOUT TOOLHEAD=0
insert_gcode:
  M117 Filament inserted on T0 (switch)
  _ON_TOOLHEAD_FILAMENT_SENSOR_INSERT TOOLHEAD=0
#  SET_FILAMENT_SENSOR SENSOR=toolhead_filament_clog_t0 ENABLE=1

[filament_motion_sensor toolhead_filament_clog_t0]
switch_pin: !PG13
detection_length: 6
extruder: extruder   # extruder for T0, extruder1 for T1
pause_on_runout: False
event_delay: 3.0
pause_delay: 0.5
runout_gcode:
  M117 Filament clog detected on T0
  _ON_TOOLHEAD_FILAMENT_SENSOR_CLOG TOOLHEAD=0
insert_gcode:

[gcode_macro T0]
variable_enable_insert_detection: False     # enables the insert detection
variable_enable_runout_detection: True     # enables the runout detection
variable_enable_clog_detection: True       # enables the clog detection
variable_unload_after_runout: False         # unload filament after runout has been detected
variable_resume_after_insert: True         # resumes the print after inserting new filament
variable_purge_after_load: 30      # purge x mm after the filament has been loaded to the nozzle tip
variable_purge_before_unload: 0    # purge x mm before the filament unloads
variable_filament_load_speed: 10   # filament nozzle loading speed
variable_extruder_load_speed: 60   # extruder/cooling zone loading speed
variable_retract: 1.5   # retract on pause print
variable_extrude: 1.5   # extrude before resume print
variable_cooling_position_to_nozzle_distance: 30            # distance between the cooling position and the nozzle
variable_tooolhead_sensor_to_extruder_gear_distance: 560     # distance between the filament sensor trigger point
                                                            # and where the filament hits the extruder gears
variable_extruder_gear_to_cooling_position_distance: 50     # distance between the extruder gears and the center of the heatsink cooling tube

[gcode_macro T0]
variable_has_oozeguard: True

[gcode_macro RatOS]
variable_toolchange_travel_speed: 500                                  # parking travel speed
variable_toolchange_travel_accel: 10000  
variable_default_toolhead: 0                           # the toolhead with the z-probe, 0=left 1=right toolhead
variable_shaper_x_freq: [58.2, 58.2, 58.2, 58.2]       # shaper frequency [T0, T1, COPY, MIRROR]
variable_shaper_y_freq: [29, 29, 29, 29]               # shaper frequency [T0, T1, COPY, MIRROR]
variable_shaper_x_type: ["mzv", "mzv", "mzv", "mzv"]   # shaper frequency algorythm [T0, T1, COPY, MIRROR]
variable_shaper_y_type: ["mzv", "mzv", "mzv", "mzv"]   # shaper frequency algorythm [T0, T1, COPY, MIRROR]